@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*-----Global css-----*/
:root{
    --Font:#E5E5E5;
    --White: #FFFF;
    --Dark-Blue: #0A3871;
    --Grey: #C5C5C5;
    --MediumGray:#67808E;
    --RGBA:rgba(0,0,0,0.08);
    --White-Blue: #D8DFE8;
    --Medium-Blue:#0A38718A;
    --Gray:#343A40;
    --Grei:#495057;




}

/*-----fonts-----*/
.hind-light {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-regular {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-medium {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-semibold {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-bold {
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: var(--White);
    font-family: "Hind", sans-serif;


}

::selection{
    background: var(--Dark-Blue);
    color: var(--White);

}

body{
    height: 100%;
}

img{
    max-width: 100%;

}

/*------Encabezado------*/

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
    background: transparent;

}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: 40px;
    background: transparent
} 

/*---------Principal-------*/
main{
    display: flex;
    flex-direction: row;
    background: url(imágenes/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
    font-family: "Hind", sans-serif;
    border:none;


}

.encriptar{
    width: 600px;
    height: 300px;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    outline:none;
    border: 1px solid var(--Grey);
    border-radius: 20px;
    resize:none;
    font-family: "Hind", sans-serif;
    background:var(--Font);
    margin: auto;


}

.encriptar::placeholder,:focus{
    color: var(--Dark-Blue)
}

.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 490px;
    background: transparent;
    font-family: "Hind", sans-serif;

}

.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Gray);
    background: transparent;
    font-family: "Inter", sans-serif;

}

.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
    background: transparent;


}

.btn-encriptar{
    width: 300px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--White);
    background: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
    font-family: "Inter", sans-serif;



}

.btn-encriptar:active{
    box-shadow: inset 2px 2px 4px var(--Font),
    inset -3px -4px 8px var(--Dark-Blue);
    color: var(--White-Blue);


}

.btn-desencriptar{
    width: 300px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-Blue);
    background: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
    font-family: 'Inter', sans-serif;

}
.btn-copiar:hover,
.btn-desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--Dark-Blue),
    inset -3px -4px 8px var(--Font);
    color: var(--Medium-Blue);


}

.tarjeta{
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 24px 32px -8px var(--Gray);
    position:relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);

}

.img-gatito{
    background: var(--Font);
}

.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--Gray);
    background: var(--Font);
    font-family: "Inter", sans-serif;

}

.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--MediumGray);
    background: var(--Font);


}

.evaluar{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--Grei);
    background:transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus{
    outline: none;

}

.btn-copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover{
    transform: scale(0.97);
}

/*------Pie de página-----*/

footer{
    margin-top: 0px;
    padding: 0px;
    background:transparent;
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 100;
    color: var(--Dark-Blue);
    text-decoration: dashed;
    color: var(--Grei);
    border-top: 1px solid var(--MediumGray);

}

/*-----Media-----*/

@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;    
    }

    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    } 

    .encriptador-contenedor{
        display: flex;
        align-items: center;
        position: inherit;

    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
        background: transparent;        
    }

    .tarjeta{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-gatito{
        display: none;    
    }

    .btn-copiar{
        position: inherit;
        width: 100%;
    }

    .evaluar{
        width: 100%;
        height: 210px;
        padding: 10px;    
    }
}

@media(max-width:1024px){
    header .logo{
        width: 100%;
        background: var(--White);
        padding: 2px;
        background: transparent;

    }

    .encriptar{
        width: 90%;
        font-size: 24px;
    }

    .encriptador-contenedor{
        display: grid;
        gap: 21px;

    }

    .tarjeta{
        width: 90%;

    }
    .copyright{
        font-size: 20px;
        font-family: 'Inter', sans-serif;

    }

    .creador{
        background: transparent;
        font-weight: normal;
    }

}